* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
header {
  background-color: #282c34;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #3a3f47;
}

/* Main content area */
main {
  padding: 2rem;
}

table {
  width: 100%;
  margin: 2rem 0;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

tr:hover {
  background-color: #f9f9f9;
}

th {
  color: #333;
  font-weight: 600;
}

td {
  color: #555;
}

td.todo {
  background-color: #ffabab;
}
td.doing {
  background-color: #ffffab;
}
td.done {
  background-color: #8bdb8b;
}

/* Footer */
footer {
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}

/* Applicare uno stile differente alla colonna status, assegnando i seguenti colori di sfondo alle celle in base al valore dello stato:
// "To do" → rosso
// "Doing" → giallo
// "Done" → verde */
